<div id="tabs">

	{{partial 'web-client/app/templates/settings/nav' this}}

	<div class="ha-wrap">
		<div id="tabs_container">
			{{partial 'web-client/app/templates/settings/account' this}}
			{{partial 'web-client/app/templates/settings/verification' this}}
			{{partial 'web-client/app/templates/settings/wallets' this}}
			{{!-- {{partial 'web-client/app/templates/settings/api' this}} --}}
		</div>
	</div>

</div>