<nav class="ha-navbar ha-secondary navbar navbar-default func__top_nav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span></button> <a class="navbar-brand" href="/"><img src="https://s3.amazonaws.com/harborly/logo.png"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <!-- LEFT NAV -->

            <ul class="nav navbar-nav">
                
            </ul>

            <!-- END LEFT NAV -->

            <!-- RIGHT NAV -->

            <ul class="nav navbar-nav navbar-right">

                <li class="ha-tickers">
                    <a href="/buy?type=btc">
                            1 BTC =  
                        {{#if quote.bid}}
                            {{quote.bid.price}} {{fiat_symbol}}
                        {{else}}
                            <span class="ui active loader mini"></span>
                        {{/if}}
                    </a>
                </li>

                <li class="dropdown logout-toggle hidden-xs func__go_user_profile ha-profile-picture">
                    <a href="#">
                    {{#if name}}
                        <p>{{name}} &nbsp; <i class="fa fa-angle-down"></i></p></a>
                    {{else}}
                        <p>My Account &nbsp; <i class="fa fa-angle-down"></i></p></a>
                    {{/if}}
                    <ul class="dropdown-menu">
                         <li class="logout-wrap"><a class="logout func__signout">Sign Out</a></li>
                    </ul>
                </li>
            </ul>

            <!-- END RIGHT NAV -->

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- END NAVIGATION -->